
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<div>
    @using (Html.BeginForm("LoginPost", "Account", FormMethod.Post))
    {
        <input type="text" name="username" id="username" />
        <input type="text" name="password" id="password" />

        <input type="submit" value="Login" />}
    @ViewBag.Result
</div>
